@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;}

body {background-image: url("images/page_background_gb7xwx37yb4yyyal.jpg")}

h1 {font-family: 'Amita', serif;}
h2{font-family: 'Amita', serif;}
label {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;}
p {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;}